body {
  background-color: azure;
}

.jumbotron{
  border-radius: 0%;
  background-image: url('https://cdn.pixabay.com/photo/2017/07/24/12/43/schrecksee-2534484_1280.jpg');
  height: 400px;
  background-size: cover;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
